In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("/Users/michaelsun/Desktop/Sta457/Sta457 Project/owid-co2-data.csv")

In [17]:
df.head(10)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,1755,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,1756,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,1757,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,1758,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,1759,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.country.unique()

array(['Afghanistan', 'Africa', 'Africa (GCP)', 'Albania', 'Algeria',
       'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Asia (GCP)', 'Asia (excl. China and India)', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Central America (GCP)', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (GCP)',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International aviation',
       'International shipping', 'International transport', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kuwaiti Oil Fires', 'Kuwaiti Oil Fires (GCP)', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Least developed countries (Jones et al.)',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East (GCP)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Non-OECD (GCP)', 'North America', 'North America (GCP)',
       'North America (excl. USA)', 'North Korea', 'North Macedonia',
       'Norway', 'OECD (GCP)', 'OECD (Jones et al.)', 'Oceania',
       'Oceania (GCP)', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Ryukyu Islands', 'Ryukyu Islands (GCP)', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South America (GCP)', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [19]:
df = df[df["country"] == "United States"]

In [20]:
df.describe()

,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
count,224.000000,2.240000e+02,2.030000e+02,224.000000,224.000000,224.000000,223.000000,223.000000,174.000000,173.000000,...,34.000000,173.000000,173.000000,173.000000,173.000000,173.000000,174.000000,174.000000,33.000000,33.000000
mean,1911.500000,1.196527e+08,3.712646e+12,12.844080,0.057875,1927.913942,22.023072,4.840045,3214.462305,24.331422,...,10.959941,25.045694,0.017387,0.087191,0.108191,0.003584,3681.411730,2845.363943,277.063788,4.963939
std,64.807407,1.025446e+08,5.230251e+12,16.263585,0.068209,2097.159328,124.292887,8.117040,1617.727257,160.340798,...,1.646346,3.635826,0.013744,0.070410,0.086971,0.003367,1946.037503,2311.661969,228.802025,4.156411
min,1800.000000,6.000000e+06,2.668967e+10,0.000000,0.000000,0.253000,-547.517000,-18.097000,817.767000,-547.697000,...,8.085000,17.239000,0.000000,0.000000,0.000000,0.000000,868.699000,76.647000,-103.833000,-2.051000
25%,1855.750000,2.798328e+07,1.984171e+11,0.000000,0.000000,39.568000,0.015000,0.456500,1978.610500,-48.142000,...,10.334500,21.982000,0.004000,0.025000,0.031000,0.001000,2096.618250,572.129750,74.280000,1.296000
50%,1911.500000,9.226623e+07,1.085155e+12,0.007000,0.000000,1265.124500,3.671000,4.429000,2898.038500,35.233000,...,11.136500,26.250000,0.014000,0.071000,0.087000,0.002000,3186.076500,2133.255000,305.104000,5.538000
75%,1967.250000,2.012777e+08,5.199990e+12,31.438500,0.131000,3739.325500,78.317500,9.042500,4942.131750,98.416000,...,12.269000,28.536000,0.035000,0.138000,0.179000,0.006000,5813.013500,5389.531250,436.630000,8.063000
max,2023.000000,3.434773e+08,1.949317e+13,46.851000,0.174000,6132.183000,460.978000,33.495000,6177.962000,602.778000,...,13.737000,28.814000,0.038000,0.241000,0.288000,0.011000,7090.202000,6777.868000,654.142000,11.105000

In [22]:
df.to_csv('USA_CO2_emissions.csv', index=False)

In [23]:
pd.set_option('display.max_rows', None)
print(df.isnull().sum())

country                                        0
year                                           0
iso_code                                       0
population                                     0
gdp                                           21
cement_co2                                     0
cement_co2_per_capita                          0
co2                                            0
co2_growth_abs                                 1
co2_growth_prct                                1
co2_including_luc                             50
co2_including_luc_growth_abs                  51
co2_including_luc_growth_prct                 51
co2_including_luc_per_capita                  50
co2_including_luc_per_gdp                     51
co2_including_luc_per_unit_energy            165
co2_per_capita                                 0
co2_per_gdp                                   21
co2_per_unit_energy                          165
coal_co2                                       0
coal_co2_per_capita                            0
consumption_co2                              191
consumption_co2_per_capita                   191
consumption_co2_per_gdp                      191
cumulative_cement_co2                          0
cumulative_co2                                 0
cumulative_co2_including_luc                  50
cumulative_coal_co2                            0
cumulative_flaring_co2                       150
cumulative_gas_co2                             0
cumulative_luc_co2                            50
cumulative_oil_co2                             0
cumulative_other_co2                         104
energy_per_capita                            165
energy_per_gdp                               166
flaring_co2                                  150
flaring_co2_per_capita                       150
gas_co2                                        0
gas_co2_per_capita                             0
ghg_excluding_lucf_per_capita                 50
ghg_per_capita                                50
land_use_change_co2                           50
land_use_change_co2_per_capita                50
methane                                       50
methane_per_capita                            50
nitrous_oxide                                 50
nitrous_oxide_per_capita                      50
oil_co2                                        0
oil_co2_per_capita                             0
other_co2_per_capita                         104
other_industry_co2                           104
primary_energy_consumption                   165
share_global_cement_co2                       80
share_global_co2                               0
share_global_co2_including_luc                50
share_global_coal_co2                          0
share_global_cumulative_cement_co2            80
share_global_cumulative_co2                    0
share_global_cumulative_co2_including_luc     50
share_global_cumulative_coal_co2               0
share_global_cumulative_flaring_co2          150
share_global_cumulative_gas_co2               82
share_global_cumulative_luc_co2               50
share_global_cumulative_oil_co2               55
share_global_cumulative_other_co2            190
share_global_flaring_co2                     150
share_global_gas_co2                          82
share_global_luc_co2                          50
share_global_oil_co2                          55
share_global_other_co2                       190
share_of_temperature_change_from_ghg          51
temperature_change_from_ch4                   51
temperature_change_from_co2                   51
temperature_change_from_ghg                   51
temperature_change_from_n2o                   51
total_ghg                                     50
total_ghg_excluding_lucf                      50
trade_co2                                    191
trade_co2_share                              191
dtype: int64

In [24]:
selected_cols = [
    "co2",
    "trade_co2",
    "oil_co2",
    "gas_co2",
    "flaring_co2",
    "coal_co2",
    "cement_co2",
    "consumption_co2",
    "other_industry_co2",
    "gdp"
]

df= df[selected_cols]

In [25]:
df.isnull().sum()

co2                     0
trade_co2             191
oil_co2                 0
gas_co2                 0
flaring_co2           150
coal_co2                0
cement_co2              0
consumption_co2       191
other_industry_co2    104
gdp                    21
dtype: int64

In [26]:
df.describe()

,co2,trade_co2,oil_co2,gas_co2,flaring_co2,coal_co2,cement_co2,consumption_co2,other_industry_co2,gdp
count,224.000000,33.000000,224.000000,224.000000,74.000000,224.000000,224.000000,33.000000,120.000000,2.030000e+02
mean,1927.913942,277.063788,740.046996,366.384504,33.957419,790.844415,12.844080,5817.750121,12.275100,3.712646e+12
std,2097.159328,228.802025,954.875265,522.759461,19.736983,697.628905,16.263585,485.201914,10.352089,5.230251e+12
min,0.253000,-103.833000,0.000000,0.000000,4.990000,0.253000,0.000000,4959.124000,1.320000,2.668967e+10
25%,39.568000,74.280000,0.000000,0.000000,15.742750,39.568000,0.000000,5569.804000,2.824250,1.984171e+11
50%,1265.124500,305.104000,88.745500,26.291000,38.933500,908.886000,0.007000,5776.546000,9.499000,1.085155e+12
75%,3739.325500,436.630000,1614.251250,871.438750,44.310000,1313.471750,31.438500,6177.029000,24.491500,5.199990e+12
max,6132.183000,654.142000,2642.556000,1755.923000,88.437000,2188.337000,46.851000,6722.182000,32.385000,1.949317e+13

In [27]:
df.to_csv("usefuldata.csv", index = False)